@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: Rubik, sans-serif;
    margin: 0;
}


.header {
    background-color: #1F2937;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #141a23;
}
.logo {
    color: white;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
}
.links {
    color: #e5e7eb;
}


.div1 {
    background-color: #1F2937;
    padding: 72px 15%;
    display: flex;
    border-bottom: 2px solid #141a23;
    align-items: center;
    
}
.div1 .texts {
    padding: 16px;
    color: #e5e7eb;
    flex: 1;
}
.texts button {
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: rgb(255, 123, 41);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 16px;
}


.div1 .image {
    margin-left: 24px;
    background-color: #2d3a4a;
    flex: 1 0 0;
    color: white;
}

img {
    height: 100%;
    width: 100%;
}

#big {
    font-weight: 700;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 8px;
    color: white;
}


.div2 {
    background-color: #e2eaf4;
    padding: 64px 15%;
    border-bottom: 1px solid #b1bed2;
}

.div2 .title {
    color: #1F2937;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 48px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    
}

.interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 160px;
    text-align: center;
} 

.container .img {
    background-color: #c8d2e2;
    border-radius: 4px;
    height: 160px;
    width: 160px;
    margin-bottom: 12px;
} 

.div3 {
    background-color: #e2eaf4;
    padding: 64px 15%;
    border-bottom: 1px solid #b1bed2;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
}

